@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.nav-wave svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 90px;
}

.nav-wave .shape-fill {
  fill: #334155;
}